{% extends 'base.html.twig' %}

{% block body %}
<style>
.mainDiv{

	padding: 40px 70px;
}
</style>

<br>
	<center>
		<h1>Les détails de (Mr/Mme) {{user.username}}</h1>
	</center>
	<div class="mainDiv">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Nom d'utilisateur</th>
				<th scope="col">Adresse Mail</th>
				<th scope="col">Role</th>
				<th scope="col">Mot de passe</th>

			</tr>
		</thead>
		<tbody>

			<tr>
				<th scope="row">{{user.username}}</th>
				<td>{{user.email}}</td>
				<td>{{user.roles[0]}}</td>
				<td>{{user.password}}</td>


			</tr>


		</tbody>
	</tbody>
</table>
</div>
{% endblock %}
